:root {
  --color-bg-page: #000000; 
  --color-bg-card: #370e588f; 
  --color-text: #f1f1f1;
  --color-gradient-1: #3a1e7c;
  --color-gradient-2: #792151;

  --radius-sm: 8px; 
  --radius-lg: 20px; 

  --space-md: 16px;

  --transition-speed: 0.3s;
  --transition-ease: ease-in-out;
}
